 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
*{
    margin: 0;
    padding: 0;
}

.corpo-lateral{
    display: grid;
    grid-template-columns: 270px 1380px 270fr;
    grid-template-rows: 100vh;
}

.corpoesquerdo{
    display: grid;
 background-color: #23282d;
 grid-template-rows: 130px 92px 40px 40px 40px;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.ambiente{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #37393a; */
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}
.home h1{
    color: white;
    font-size: 1.2em;
}
.minhaconta{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.minhaconta h1{
    color: white;
    font-size: 1.2em;
}

.meutratamento{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.meutratamento h1{
    color: white;
    font-size: 1.2em;
}


.corpocentral{
    display: grid;
    grid-template-rows: 63px 126px calc(100vh - 189px);
}

.corposuperior{
    border: #23282d solid 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.corposuperior .aviso{
    display: flex;
    justify-content: center;
    align-items: center;
}

.corposuperior .tratamento{
    display: flex;
    justify-content: center;
    align-items: center;
}

.corposuperior .conta{
    display: flex;
    justify-content: center;
    align-items: center;
}


.corpodireito{
   
}