 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Ysabeau&display=swap');


*{
    margin: 0;
    padding: 0;
}

.corpo-lateral{
    display: grid;
    grid-template-columns: 270px 1380px 270fr;
    grid-template-rows: 100vh;
}

.corpoesquerdo{
    display: grid;
 background-color: #23282d;
 grid-template-rows: 130px 92px 40px 40px 40px;

}

.corpoesquerdo .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.corpoesquerdo .ambiente{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #37393a; */
    cursor: pointer;
}

.corpoesquerdo .home{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}
.corpoesquerdo .home h1{
    color: white;
    font-size: 1.2em;
}
.corpoesquerdo .minhaconta{
    display: flex;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.corpoesquerdo .minhaconta h1{
    color: white;
    font-size: 1.2em;
}

.corpoesquerdo .meutratamento{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.corpoesquerdo .meutratamento h1{
    color: white;
    font-size: 1.2em;
}


.corpocentral{
    display: grid;
    grid-template-rows: 80px 126px calc(100vh - 206px);
}

.corposuperior{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.corposuperior .aviso{
    display: flex;
    justify-content: right;
    align-items: center;
}

.corposuperior .aviso h1{
    font-size: 1.9em;
    font-family: 'Ysabeau', sans-serif;
    font-style: small-caps;

}

.corposuperior .tratamento{
    display: flex;
    justify-content: center;
    align-items: center;
}

.corposuperior .tratamento h1{
    font-size: 1.9em;
    font-family: 'Ysabeau', sans-serif;
    font-style: small-caps;
}

.corposuperior .conta{
    display: flex;
    justify-content: left;
    align-items: center;
}

.corposuperior .conta h1{
    font-size: 1.9em;
    font-family: 'Ysabeau', sans-serif;
    font-style: small-caps;
}

.corposubsperior{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.corposubsperior div{
    border: #23282d solid 2px;
}
.corposubsperior .img{
    display: grid;
    justify-content: center;
    align-items: right;
    height: 50px;
    width: 50px;
}
.corpodireito{
   
}